* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #ffffff;
  padding: 20px 40px;
}

.header-inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: #111;
  text-decoration: none;
  margin: 0 16px;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary {
  background-color: #30b868;
  color: white;
  padding: 16px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.hero-section {
  background: #111111 url("../img/essential/hero-bg.png") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 40px 0 40px;
}

.hero-title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
}
.hero-actions {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  text-align: center;
}

.features-section {
  background-color:#FBFBFB;
  padding: 80px 40px;
  width: 100%;
  height: 448px;
}
.feature-container {
  min-width: 70%;
  margin: 0 auto;
}
.feature-header {

  text-align: center;
  color: #111111;
}

.feature-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111111;
  gap: 12px;
}
 .feature-card{
  width: 322px;
  height: 300px;
  background-color: #FFFFFF;
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .feature-img{
  margin-top: 20px;
  border-radius: 50%;
  background-color: #F95555;
  height: 60px;
  width: 60px;
  padding: 12px;
 }

 .solution-section{
  background-color:#FFFFFF;
  padding: 80px 40px;
  width: 100%;
  height: 848px;
 }

 .solution-container{
    min-width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .solution-img{
  width: 600px;
  height: 600px;
 }

 .solution-h2{
  color:#001931;
  margin: 16px 0px;
  font-size: 48px;
 }

.feature-list {
  padding: 0;
  margin: 0;
}

.feature-list li {
  list-style: none;
  display: flex;
  align-items: center;     
  gap: 12px;               
  color: #001931;
  font-size: 18px;
  margin-bottom: 14px;
}

 .challenge-section{
  background-color:#FBFBFB;
  padding: 0px 40px;
  width: 100%;
  height: 506px;
 }

  .challenge-container{
    min-width: 70%;
    margin: 0 auto;
    padding: 80px 40px ;
    background-color: #F7F6F2;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .challenge-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .challenge-text{
  text-align: center;
 }

  footer{
  background-color:#01203C;
  padding: 0px 40px;
  width: 100%;
  height: 344px;
 }

  .footer-container{
    min-width: 70%;
    margin: 0 auto;
    padding: 80px 80px 30px 80px;
 }

 .footer-content{
  height: 65px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .footer-bottom, .social-link {
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;    
}

.footer-bottom span {
  color: aliceblue;
  margin-top: 12px;
  font-size: 14px;
}
