* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #ffffff;
  padding: 20px 40px;
}

.header-inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: #111;
  margin: 0 16px;
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  display: block;
  text-decoration: none;
  color: #111111;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
  color: #30b868;
  background-color: rgba(48, 184, 104, 0.12);
}

.btn-primary {
  background-color: #30b868;
  color: white;
  padding: 16px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #0af5ed;
  color: #111111;
  transition: background-color 0.3s ease;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color:  #cef5de;
  color: #111111;
  transition: background-color 0.3s ease;
}

.hero-section {
  background: #111111 url("../img/essential/hero-bg.png") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 40px 0 40px;
}

.hero-span {
  background-color: #f7f6f2;
  color: #30b868;
  padding: 8px 16px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.hero-actions {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  text-align: center;
}

.features-section {
  background-color: #fbfbfb;
  padding: 80px 40px;
  width: 100%;
  height: 448px;
}
.feature-container {
  min-width: 70%;
  margin: 0 auto;
}
.feature-header {
  text-align: center;
  color: #111111;
  margin-bottom: 40px;
}

.feature-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111111;
  gap: 12px;
}
.feature-card {
  width: 322px;
  height: 300px;
  background-color: #ffffff;
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-img {
  margin-top: 20px;
  border-radius: 50%;
  background-color: #f95555;
  height: 60px;
  width: 60px;
  padding: 12px;
}

.solution-section {
  background-color: #ffffff;
  padding: 80px 40px;
  width: 100%;
  height: 848px;
}

.solution-container {
  min-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-img {
  width: 600px;
  height: 600px;
  margin-right: 60px;
}

.solution-h2 {
  color: #001931;
  margin: 16px 0px;
  font-size: 48px;
}

.feature-list {
  padding: 0;
  margin: 0;
}

.feature-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #001931;
  font-size: 18px;
  margin-bottom: 14px;
}

.challenge-section {
  background-color: #fbfbfb;
  padding: 0px 40px;
  width: 100%;
  height: 506px;
}

.challenge-container {
  min-width: 70%;
  margin: 0 auto;
  padding: 80px 40px;
  background-color: #f7f6f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challenge-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challenge-text {
  text-align: center;
}

footer {
  background-color: #01203c;
  padding: 0px 40px;
  width: 100%;
  height: 344px;
}

.footer-container {
  min-width: 70%;
  margin: 0 auto;
  padding: 80px 80px 30px 80px;
}

.footer-content {
  height: 65px;
  margin: 60px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom,
.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-bottom span {
  color: aliceblue;
  margin-top: 12px;
  font-size: 14px;
}
